/* Imported google font */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* General styles*/
body {
  min-height: 100vh; /*using min-height will allow it to stretch larger than the height of the screen when thiers enough content on the page when the user needs to scroll*/
  /* using display flex and display direction to column will show our elements underneath eachother */
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: black;
  padding: 0 1rem; /* I added padding left and right to prevent text from sticking to the side of the screen */
  position: fixed; /* I used position fixed to allow the navbar to scroll along */
  z-index: 99; /* I used z-index value of 99 to make sure its layered on top of any other elements that have an z-index later on */
  width: 100%;
  box-shadow: 0 2px 2px #7c7878; /* I added box-shadow to indicate that its layered on top of the other content by creating an effect of a shadow below it */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: 3px 0 auto;
  min-width: 164px;
}

/* This styling is for removing the blue default anchor color and default underline text decoration */
header a {
  text-decoration: none;
  color: inherit;
}

/* This styling is to remove the default bullet pionts that comes with unordered list and to also style the navitems */
#navmenu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#navmenu > li {
  margin-bottom: 1em;
}

/* This styling is to add a line under each page so anyone using the webiste can see where they are in the website */
#locate {
  border-bottom: 1px solid #a4969b;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  box-shadow: 0 2px 2px #7c7878;
  background-color: #000;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

#nav-toggler:checked ~ nav {
  display: block;
}

#nav-toggler {
  display: none;
}

.nav-toggler-label {
  font-size: 2rem;
}

main {
  width: 100%;
  min-width: 150px;
  overflow: auto;
  padding: 1rem;
  margin-top: 3.4rem;
}

/* Main content */
#main-index {
  background-color: #454343;
  /* Added flex shorthand to take up any surplus space to push footer down */
  flex: 1 0 auto;
  padding: 0;
}

/* Main content */
#main-about {
  background-color: #454343;
  /* Added flex shorthand to take up any surplus space to push footer down */
  flex: 1 0 auto;
}

/* Main content */
#main-contact {
  background-color: #454343;
  /* Added flex shorthand to take up any surplus space to push footer down */
  flex: 1 0 auto;
}

/*hero section*/
#hero-image {
  width: auto;
  height: 640px;
  overflow: scroll;
  background: url("/Users/abdiqaniwarsame/Documents/GitHub/Kaizen_fitness/assests/images/hero image main.jpg")
    no-repeat center center / cover;
  text-align: left;
  position: relative;
}

#hero-section {
  position: absolute;
  margin-top: 24rem;
  padding: 5%;
  width: auto;
  color: honeydew;
  text-align: justify;
  position: static;
}

#hero-section h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.7em;
  font-weight: 900;
  margin-bottom: 1px;
  color: honeydew;
}

#hero-section p {
  font-family: "lato", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.7em;
}

#section-about {
  font-size: 8px;
  font-style: italic;
  letter-spacing: 1px;
  padding: 0.4rem;
  margin: 10px;
  border: 1px inset white;
  border-radius: 20px;
  box-shadow: 0 -5px 20px rgb(197, 193, 193);
  text-align: center;
}

#section-about h2 {
  line-height: 1rem;
  font-weight: 800;
  padding: 2px;
  text-decoration: underline;
}

#section-about p {
  line-height: 10px;
}

#section-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#section-grey button {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(188, 183, 183, 0.7);
  padding: 2px 20px ;
  margin: 20px 100px 20px 100px;
  text-align: justify;
}

#section-grey a {
  text-decoration: none;
  color: inherit;
}

#section-qualification {
  font-size: 8px;
  font-style: italic;
  letter-spacing: 1px;
  padding: 0.4rem;
  margin: 10px;
  border: 1px outset whitesmoke;
  border-radius: 20px;
  box-shadow: -5px 0px 10px #a4969b;

}

#section-qualification h2 {
  line-height: 1rem;
  font-weight: 800;
  padding: 2px;
  text-decoration: underline;
  text-align: center;
}

#section-qualification p {
  line-height: 10px;
}

#section-whatweoffer {
  font-family: "Bungee Outline", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  margin: 12px;
}

#section-offer {
  border: 2px solid;
  border-radius: 10px;
  padding: 0 0.5rem;
  font-size: 10px;
  font-style: italic;
  padding: 0.4rem;
  margin: 5px;
  color: #ffffff;
  margin: 8px;
}

#section-offer img {
  max-height: auto;
  width: 100%;
  border-radius: 15px;
}

#section-offer h3 {
  text-decoration: underline;
  padding: 5px;
  font-weight: 800;
  font-size: 1rem;
}

#section-offer p {
  text-align: justify;
  word-spacing: 0.7px;
  padding: 2px;
}

.hrstyle {
  border: 1px inset #7c7878;
}

#faqs {
  border: 1.6px solid #fff;
  border-radius: 10px;
  padding: 0 0.5rem;
  margin: 10px;
  box-shadow: 5px 0px 5px #2e2d2d;
  box-shadow: 0 5px 5px  #2e2d2d;
  box-shadow: -5px 0px 5px  #2e2d2d;
  box-shadow: 0 -5px 5px  #2e2d2d;
}

#faqs-control {
  padding: 5px 0;
}

summary {
  margin: 8px;
}

summary ~ p {
  padding: 4px;
}

#contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contact-button button {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(188, 183, 183, 0.7);
  padding: 5px 25px;
  margin: 15px 100px 15px 100px;
  text-align: justify;
  font-size: 15px;
}

#contact-button a {
  text-decoration: none;
  color: inherit;
}


#contact {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact-address,
#contact-form {
  flex: 1;
}

#contact-form input {
  width: 7rem;
  margin-bottom: 2px;
  padding: 2px;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px rgba(104, 102, 102, 0.3);
  box-shadow: 0px 5px 19px rgba(123, 117, 117, 0.1);;
  box-shadow: 0px -5px 18px rgba(123, 117, 117, 0.3);
  box-shadow: -5px 0px 17px rgba(35, 117, 117, 0.3);
}


#video video {
  width: 100%; 
  height: auto;
  margin: 20px 0;
}

#contact-form button {
  width: 7rem;
  margin-top: 5px;
  text-align: center;
  background-color: #454343;
  border-radius: 10px;
}

input::placeholder {
  color: #000;
}

#contact-address p {
  font-size: 12px;
}

/* Map */
#map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

iframe {
  width: 100vw;
  height: 40vh;
  filter: invert(100%);
}

/* Footer */
footer {
  background-color: black;
  bottom: 100;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}

#thefooter {
  
}


#social-media {
  list-style-type: none;
  display: flex;
}

#social-media i {
  padding: 10px;
  font-size: 20px;
}

.sui {
  text-decoration: underline;
}

.suii {
  text-decoration: underline;
}

@media screen and (max-width: 195px) {
  footer {
    min-width: 195px;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  main {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 324px) {
  main {
    margin-top: 1.9rem;
  }
}

/* Certain phones like the iphone  and largerx */
@media screen and (min-width: 375px) {
  main {
    margin-top: 2.4rem;
  }
  #hero-image {
    height: 660px;
    width: auto;
  }
  #hero-section {
    margin-top: 21em;
    text-align: left;
  }
  #hero-section h1 {
    font-size: 1.7em;
    font-weight: 900;
  }

  #hero-section p {
    font-size: 0.9em;
    font-weight: 700;
  }

  #contact {
    margin-top: -2vh;
    padding: 15px;
  }

  #contact-form {
    margin-right: -60px;
  }

  #section-grey button { 
    padding: 5px 25px;
  }

  #contact-button button {
    font-size: 18px;
  }

}

@media screen and (min-width: 425px) {
  
  
  #hero-image {
    height: 690px;
    width: auto;
  }

  #hero-section {
    margin-top: 25rem;
  }
  #hero-section h1 {
    font-weight: 900;
    font-size: 1.8rem;
  }
  #hero-section p {
    font-size: 1rem;
  }

  #section-grey {
    margin: 15px;
  }

  #section-grey h2 {
    font-size: 1rem;
    padding-bottom: 3px;
  }

  #section-grey p {
    font-size: 0.6rem;
    line-height: 12px;
  }

  #section-about {
    margin-bottom: 10px;
    padding: 10px;
  }

  #section-qualification {
    padding: 10px;
  }

  #section-grey button {
    padding: 10px 25px;
  }

  #contact {
    margin-top: 20px;
  }
  #contact-form {
    margin-right: 2.2vw;
  }

  #contact-form input {
    font-size: 12px;
    padding-right: -30px;
  }

  #contact-form button {
    font-size: 12px;
  }
  
  #contact-button button {
    font-size: 20px;
  }
}

/* Media query: tablets and larger (768 and up)*/
@media screen and (min-width: 768px) {
  
  header {
    font-size: 1.3rem;
  }
  
  #contact-form {
    margin-right: -3vw;
  }

  #contact-form input {
    font-size: 12px;
    padding: 6px;
    width: 9rem;
    text-align: center;
    left: 40px;
    margin-top: 10px;
  }

  #contact-form button {
    padding: 6px;
    font-size: 12px;
  }

  #contact-address h2 {
    font-size: 3rem;
  }

  #contact-address p {
    font-size: 1.3rem;
  }

  nav {
    display: block;
    position: relative;
    width: fit-content;
    padding-right: 1rem;
  }

  #navmenu {
    display: flex; /* This is for making the nav items into rows format */
  }

  #navmenu > li {
    padding-left: 1rem; /*  this for spacing out the nav items */
  }

  .nav-toggler-label {
    display: none; /* This is for removing the X which was the toggler symbol  as it is no longer needed on large screens */
  }

  #hero-image {
    height: 1050px;
  }

  #hero-section {
    margin-top: 35rem;
  }

  #hero-section h1 {
    font-size: 4rem;
  }

  #hero-section p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  #section-grey h2 {
    font-weight: 900;
    font-size: 1.6rem;
    padding-bottom: 20px;
  }

  #section-qualification h2 {
    font-weight: 900;
    padding-bottom: 15px;
    font-size: 1.6rem;
  }

  #section-grey p {
    line-height: 20px;
    font-size: 1rem;
    word-spacing: 2px;
  }

  #section-grey button {
    font-size: 20px;
    padding: 10px 25px;
  }

  #section-whatweoffer {
    font-size: 2.7rem;
    letter-spacing: 0.5px;
  }

  #section-offer {
    border: 2px solid;
    border-radius: 10px;
    padding: 0 0.5rem;
    font-size: 22px;
    font-style: italic;
    padding: 0.4rem;
    color: #ffffff;
    margin: 15px 8px 15px 8px;
  }

  #section-offer img {
    max-height: auto;
    width: 100%;
    border-radius: 15px;
  }

  #section-offer h3 {
    text-decoration: underline;
    padding: 5px;
    font-weight: 900;
    font-size: 1.8rem;
    text-align: justify;
  }

  #section-offer p {
    text-align: justify;
    padding: 10px;
  }

  #msection-offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */
    gap: 20px; /* Gap between cards */
    margin-top: 15px;
  }
  
  #section-grey {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */
    gap: 10px; /* Gap between cards */
  }

  #faqs-control {
    margin: 2rem 0;
  }

  #faqs {
    font-size: 2rem;
    padding: 10px;
  }

  summary ~ p {
    padding-top: 25px;
  }

  #contact-button button {
    font-size: 35px;
    margin: 35px;
  }

  iframe {
    height: 60vh;
  }


  footer {
    font-size: 1.9rem;
  }
}

/* Media query: laptops and larger (992 and up)*/
@media screen and (min-width: 992px) {
  header {
    font-size: 2rem;
  }
  
  main {
    margin-top: 3.2rem;
  }

  #contact-form {
    margin-right: -15vw;
  }

  #contact-form input {
    font-size: 0.9rem;
    padding: 10px;
    width: 9rem;
    text-align: center;
    left: 40px;
    margin-top: 10px;
  }

  #contact-form button {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  #contact-address h2 {
    font-size: 3rem;
  }

  #contact-address p {
    font-size: 1.3rem;
  }

  #navmenu a:hover {
    border-bottom: 1px solid #a4969b;
  }
  #hero-image {
    height: 1100px;
    width: auto;
  }

  #hero-section {
    margin-top: 35rem;
  }

  #hero-section h1 {
    font-weight: 900;
    font-size: 2rem;
  }
  #hero-section p {
    font-size: 1.4rem;
  }

  summary:hover {
    border-bottom: 1px solid #000;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin-top: 5.5rem;
  }

  header {
    margin-bottom: 20px;
    font-size: 1.6rem;
    padding: 7px;
  }

  #contact-form {
    margin-left: -1vw;
  }

  #contact-form input {
    font-size: 1.1rem;
    padding: 6px;
    width: 9.5rem;
    left: 40px;
    margin-top: 10px;
    margin-left: 1px;
  }

  #contact-form button {
    padding: 6px;
    font-size: 17px;
    margin-left: 5px;
  }

  #contact-address h2 {
    font-size: 3rem;
  }

  #contact-address p {
    font-size: 1.3rem;
  }

  #hero-image {
    height: 1000px;
    width: auto;
  }

  #hero-section {
    margin-top: 35rem;
  }
  #hero-section h1 {
    font-weight: 900;
    font-size: 3.5rem;
  }
  #hero-section p {
    font-size: 2rem;
  }

  #section-grey h2 {
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 20px;
  }

  #section-qualification h2 {
    font-weight: 900;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }

  #section-grey p {
    line-height: 25px;
    font-size: 1.2rem;
    word-spacing: 1px;
  }

  #section-grey button {
    font-size: 25px;
    padding: 10px 25px;
  }

  #section-whatweoffer {
    font-family: "Bungee Outline", sans-serif;
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    margin: 12px;
  }

  #section-offer {
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
    font-style: italic;
    padding: 1rem;
    color: #ffffff;
    margin: 15px;
  }

  #section-offer img {
    max-height: auto;
    width: 100%;
    border-radius: 15px;
  }

  #section-offer h3 {
    text-decoration: underline;
    font-weight: 900;
    font-size: 3rem;
  }

  #section-offer p {
    text-align: justify;
    word-spacing: 0.5px;
    letter-spacing: 0.7px;
  }

  #video {
    margin: 25px 5px;
  }

  #contact-button button {
    font-size: 40px;
    margin: 75px;
  }

  footer {
    font-size: 2.3rem;
  }
}

/* Media query: Desktops and larger ( 1440 and up)*/
@media screen and (min-width: 1440px) {
  main {
    margin-top: 7.5rem;
  }

  #contact {
    margin-top: -5px;
    margin-bottom: 25px;
  }

  #contact-form {
    margin-right: -25vw;
  }

  #contact-form input {
    font-size: 1.2rem;
    width: 10rem;
    left: 40px;
    margin-right: 10px;
    padding-left: 1px;
  }

  #contact-form button {
    padding: 1px;
    font-size: 1.3rem;
    margin-left: 5px;
  }

  #contact-address h2 {
    font-size: 3.5rem;
  }

  #contact-address p {
    font-size: 1.5rem;
  }

  header {
    font-size: 2.2rem;
  }

  #hero-image {
    height: 1600px;
    width: 100%;
  }

  #hero-section {
    margin-top: 60rem;
  }

  #hero-section p {
    font-size: 2rem;
    font-weight: 600;
    text-align: justify;
  }

  #hero-section h1 {
    font-size: 7rem;
    font-weight: 900;
    word-spacing: 2px;
  }

  #section-grey h2 {
    font-size: 4rem;
    line-height: 50px;
    padding-bottom: 25px;
  }

  #section-grey p{
    font-size: 2rem;
    line-height: 35px;
  }

 #section-qualification h2{
    font-size: 3.5rem;
  }

  #section-grey button {
    font-size: 50px;
    padding: 10px 25px;
    margin: 250px 100px;
  }

  #video {
    margin: 30px 10px;
  }
}

