* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: bisque;
}

/* Main content */
main{
    background-color: royalblue;
}

/* Footer */
footer{
    background-color: orangered;
}